{% extends 'base.html' %}
{% block content %}

<section class="p-5 text-center">
    <div class="container">
        <h2>
            <span class="text-primary">Shorten any URL</span> you need in just <span class="text-warning">one</span> click!
        </h2>
    </div>
</section>

<section class="px-5">
    <div class="container px-5 text-center">
        <form action="{% url 'result' %}" method="POST">
            {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="link" class="form-control" placeholder="Enter the URL" aria-label="Recipient's username" aria-describedby="button-addon2">
          </div>
          <button class="btn btn-dark" type="submit" id="button-addon2">Shorten</button>

        </form>
    </div>
</section>
{% endblock %}